$sidebar-width: 200px;

.sidebar {
  display: flex;
  min-width: 220px;
  min-height: 100vh;
  width: $sidebar-width + $spacing-unit * 2;
  background-color: $grey-color-darker;
  color: $grey-color-light;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: $spacing-unit * 2 $spacing-unit;

  h1 {
    margin-bottom: $spacing-unit;

    a {
      color: #fff;

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }

  nav.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: $spacing-unit 0;

    a {
      margin: 2px 0;
      color: $menu-link-color;

      &:hover {
        color: #fff;
      }
    }
  }

  .social-media-list {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-around;

    a {
      //padding: 3px 10px;
      //margin-right: $spacing-unit / 2;
      max-width: 35px;

      path {
        fill: $menu-link-color;
      }

      &:hover {
        background-color: transparent;

        path {
          fill: lighten($menu-link-color, 25%);
        }
      }
    }
  }
}
