$sidebar-width: 200px;

.sidebar {
  width: $sidebar-width + $spacing-unit * 2;
  min-width: 220px;
  background-color: $grey-color-darker;
  color: $grey-color-light;
  min-height: 100vh;
}

.sidebar-content {
  margin: $spacing-unit * 2 $spacing-unit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    margin-bottom: $spacing-unit;

    a {
      color: #fff;

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }

  nav.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 256px;
    margin: $spacing-unit 0;

    a {
      color: $menu-link-color;

      &:hover {
        color: #fff;
      }
    }
  }

  .social-media-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    margin: 0 0 $spacing-unit;

    a {
      padding: 3px 10px;
      border-radius: 2px;
      color: #828282;
      background-color: rgba(0, 0, 0, 0.2);
      margin-right: $spacing-unit / 2;

      &:hover {
        text-decoration: none;
        color: darken($grey-color-light, 15%);
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
