<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <main class="page-content" aria-label="Content">
      <aside class="sidebar">
        <div class="sidebar-content">
          <div class="title">
            <h1><a href="/">Ricardo Otero</a></h1>
          </div>

          <p>
            I'm a freelance web developer, working with Ruby and Ruby on Rails for 10+ years. This
            is where I write about my projects and share interesting stuff about programming in
            general.
          </p>

          <nav class="main-menu" role="main">
            <a href="/">Home</a>
            <a href="/projects">My projects</a>
            <a href="/archive">Blog posts</a>
            <a href="/about">About me</a>
          </nav>

          <div class="social-media-list">
            <a href="https://github.com/rikas" title="Github" target="_blank">
              {% include icon-github.svg %}
            </a>
            <a href="https://www.linkedin.com/in/oterosantos/" title="Linkedin" target="_blank">
              {% include icon-linkedin.svg %}
            </a>
            <a href="https://twitter.com/rikas" title="Twitter" target="_blank">
              {% include icon-twitter.svg %}
            </a>
          </div>
        </div>
      </aside>

      <div class="main-content">
        {{ content }}
      </div>
    </main>
  </body>
</html>
